*{
    margin: 0;
    padding: 0;
}
.cart{
    margin: 50px 50px 30px;
}
.cart-icon{
    color: blue;
    font-size: 100px;
    position: relative;
}
.cart-notice{
    position: absolute;
    top:40px;
    background-color: var(--white-color);
    color: var(--primary-color);
    font-size: 20px;
    padding: 1px 5px;
    border-radius: 20px;
    border: 2px solid #ee4d2d;
    line-height: 1.4rem;
}
.add-product{
    margin-left: 60px;
}
button{
    border: none;
    color: white;
    background-color: #ee4d2d;
    padding: 10px;
    cursor: pointer;
}